@charset "utf-8";
/* CSS Document */

nav ul {
	margin: 0px;
	padding: 0px;
	float: right;
	position: relative;
	top: -40px;
}
nav ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}
nav ul li img {
	width: 30px;
	height: 30px;
}
